.wrapper_chart{
  margin-top: 30px;
  .headerChart {
    margin: 30px 0;
    display: flex;
    align-items: center;

    .name__nav {
      margin-right: 40px;
      font-size: 20px;
    }
    .nav_money {
      .list_container {
        display: flex;
        .list__item {
          padding: 5px 20px;
          font-size: 14px;
          margin-right: 10px;
          border-radius: 3px;
          border: solid 2px black;
        }

        .list__item_active{
          background: black;
          color: white;
          padding: 5px 20px;
          font-size: 14px;
          margin-right: 10px;
          border-radius: 3px;
          border: solid 2px black;
        }
      }
    }
    .comments {
    }
  }
}

